{% extends "base.html" %}
{% load static %}

{% block contents %}
<br>
<h2>시간표 - 201814112 최재훈</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">9시</td>
            <td bgcolor="F75B40" rowspan="6">
                <span class="fw">
                    데이터베이스 <br />
                    홍은지 <br />
                    9:00~12:00 <br />
                    비대면
                </span>
            </td>
            <td></td>
            <td></td>
            <td bgcolor="#EFD670" rowspan="6">
                <span class="fw">
                    3d모델링<br />
                    신미현<br />
                    9:00~12:00<br />
                    6403
                </span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">10시</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">11시</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">12시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td bgcolor="#FFA87A" rowspan="6">
                <span class="fw">
                    하이브리드 앱 프로그래밍<br />
                    문성현<br />
                    12:00~15:00<br />
                    6201
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">1시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td bgcolor="#67D9DB" rowspan="3">
                <span class="fw">
                    알고리즘<br />
                    노은하<br />
                    13:30~14:45<br />
                    6202
                </span>
            </td>
            <td></td>
            <td bgcolor="67D9DB" rowspan="3">
                <span class="fw">
                    알고리즘<br />
                    노은하<br />
                    13:30~14:45<br />
                    6202
                </span>
            </td>
        </tr>
        <tr>
            <td rowspan="2">2시</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">3시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td bgcolor="B8EE8F" rowspan="6">
                <span class="fw">
                    JAVA프로그래밍<br />
                    문성현<br />
                    15:00~18:00<br />
                    6201
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">4시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td bgcolor="9BEBA8" rowspan="3">
                <span class="fw">
                    컴퓨터네트워크<br />
                    유상신<br />
                    16:30~18:00<br />
                    M406
                </span>
            </td>
            <td></td>
            <td bgcolor="9BEBA8" rowspan="3">
                <span class="fw">
                    컴퓨터네트워크<br />
                    유상신<br />
                    16:30~18:00<br />
                    M406
                </span>
            </td>
        </tr>
        <tr>
            <td rowspan="2">5시</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">6시</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}