{% extends "base.html" %}
{% load static %}

{% block contents %}
<header>
    <h1> 최재훈의 홈페이지</h1>
    <h2> 이 곳은 저를 소개하는 페이지 입니다.</h2>
</header>

<nav>
    <h2>소개 순서</h2>
    <ol>
        <li>일기장(form실습)</li>
        <li>
            소속(링크 및 이미지 실습)
            <ul>
                <li>성공회대학교</li>
                <li>IT융합자율학부</li>
            </ul>
        </li>
        <li>이력(테이블 실습)</li>
        <li>좋아하는 것(텍스트 태그 소개)</li>
    </ol>
</nav>

<section>
    <article>
        <form action="전송받을 대상">
            아이디: <input type="text" name="myid">
            비밀번호: <input type="password" nam="mypw">
        </form>
        <form action="일기장">
            <h2>일기장</h2>
            제목: <input type="text" name="diaryTitle">
            <select>
                <option value="goodDay"> 좋은날 </option>
                <option value="sosoDay"> 그저그런날 </option>
                <option value="sadDay"> 슬픈날 </option>
            </select>
            <br>
            <h3>내용: </h3>
            <div class="input-div">
                <div>
                    <textarea cols="40" rows=" 30"></textarea>
                </div>
            </div>
            <br>
            <input type="submit">
        </form>
    </article>
    <article>
        <h2> 저의 소속입니다. </h2>
        <a href="{% url 'department' %}">소속 확인하기</a>
    </article>
    <br>
    <article>
        <h2>저의 이력입니다</h2>
        <table>
            <thead>
                <th>년도</th>
                <th>이력 내용</th>
            </thead>
            <tbody>
                <tr>
                    <!--첫 번째 줄-->
                    <td>2022년도 </td>
                    <td>성공회대학교 멋쟁이사자처럼 9기 아기사자</td>
                </tr>
                <tr>
                    <!-- 두번째 줄-->
                    <td>2023년도 </td>
                    <td>파이팅</td>
                </tr>
                <tr>
                    <!--세번 째 줄-->
                    <td>2024년도 </td>
                    <td>와우</td>
                </tr>
            </tbody>
        </table>
    </article>

    <br>

    <article>
        <h2>좋아하는 것</h2>
        <p>
            <b>넷플</b>
            <b>일본</b>
            <b>게임</b>
        </p>
        <blockquote>
            <q>카르페디엠</q>
            <i>최재훈, 인생모토</i>
        </blockquote>
    </article>

</section>

<br>
<hr>
{% endblock %}