@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KyoboHandwriting2020A';
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 40px;
    column-gap: 30px;
    margin-top: 30px;
}

.grid-container div{
    position: relative;
}

.grid-container .first{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(5, 10, 30, 0.5);

    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* 제목에는 opacity:0을 줘서 안보이게하고 */
    transition: opacity .5s;
}

.first:hover{ /* hover됐을때 opacity: 1을 줘서 보이게 끔 */
    opacity: 1;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 2px rgb(0 0 0 / 7%), 0 5px 15px rgb(0 0 0 / 16%);
    height: auto;
}

.grid-container img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.nav-position{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}

footer{
    text-align: center;
}
